@import "https://use.fontawesome.com/releases/v5.7.0/css/all.css";

@font-face {
    font-family: google-sans;
    font-display: auto;
    src: url(assets/fonts/google-font.woff2);
}
.google-font{
    font-family: google-sans
}
.speaker-company-text,
.team-name-text {
    /* white-space: nowrap; */
    white-space: inherit;
    margin: 0 10px !important;
    min-height: 44px;
}

.team-wrapper,
.speakers-wrapper {
    max-width: none !important;
    flex-basis: 22.666667% !important;
    margin-right: 15px !important;
    margin-bottom: 15px !important;
}

.team-wrapper .elevation-0 {
    border: 1px solid rgb(230, 231, 232) !important;
}